<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
  <appSettings>
    <add key="sourceDir" value="e:\gc\furryporn.tk\bfl"/>
    <add key="destDir" value="E:\gc\furryporn.tk\html"/>
    <add key="thumbDir" value="E:\gc\furryporn.tk\prev"/>
    <add key="maxImgs" value="4000"/>
    <add key="imagesPerPage" value="100"/>
    <add key="previewSize" value="180x135"/>
    <add key="tplDir" value="..\..\tpls"/>
  </appSettings>
</configuration>